h1
{
    color: aqua;
}
.temp
{
    color: coral;
    text-align: center;
    font-size: 50px;
    display: inline-block;
}

.weatherData
{
    background-color: gray;
    text-align: center;
}
body
{
    background-color: darkslategray;
}