<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<h1>Welcome to Weather Guesser</h1>




<div class="temp" id="temp">Loading Temperature</div>

<br><br>

<button id="b1" onclick="SendAnswer(b1.textContent)">City 1</button>
<button id="b2" onclick="SendAnswer(b2.textContent)">City 2</button>
<button id="b3" onclick="SendAnswer(b3.textContent)">City 3</button>

<div id="winState">
    PlaceHolder
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>